// colors
$color-header-text-shadow: #553532;
$color-header-text: #fff;

$background-color-form: #f4f4f4;
$color-form-elements: #afafaf;
$color-form-text: #555;
$color-input-border: #c6c6c6;
$color-input-focus: #3b9a00;

$background-color-checkbox: #9cd437;

$color-button-text: #fff;
$background-color-button-green: #9cd437;
$color-button-border-green: #3b9a00;
$color-button-text-shadow-green: #2c6a02;
$background-color-button-red: #f55a6b;
$color-button-border-red: #a2202a;
$color-button-text-shadow-red: #4e2605;

// font-size
$font-size-title-s: 2.4rem;
$font-size-title-m: 2.8rem;
$font-size-title-l: 3.2rem;

$font-size-form-s: 1.4rem;
$font-size-form-m: 1.6rem;

$font-size-button-s: 1.6rem;
$font-size-button-m: 2.0rem;
$font-size-button-l: 2.4rem;

$font-size-small-button-s: 1.4rem;
$font-size-small-button-m: 1.8rem;

$font-size-icon-xs: 1.4rem;
$font-size-icon-s: 1.6rem;
$font-size-icon-m: 1.8rem;
$font-size-icon-l: 2.4rem;